.container {
  max-width: 1920px;
  padding: 0 50px;
  margin: 0 auto;
  @media (min-width: $XL) {
    padding: 0 230px;
  }
}
.chronicle {
  font-family: "Chronicle Display";
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
